body {
    background-color: #f7f7f8;
    
    height: 100vh;
    width: 100vw;
    }
.container {
display: flex;
flex-direction: row;
justify-content: center;
background-color: #f7f7f8;

}
.giftsContainer {
    display: flex;
 flex-direction: row;
   justify-content: space-evenly;
}

.picList {
    display: flex;
    
    flex-direction: row;
    justify-content: space-evenly;
        }

.giftsBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f7f7f8;
    
    }
    .giftsImage {
    border-radius: 15px 15px 15px 15px;
    margin-top: 0;
    padding:25px 25px;
    background-color: #E5E5E5;
    margin: 50px 10px;
    box-shadow: 0 2px 5px rgb(130, 129, 129);
}
.image {

    border-radius: 15px 15px 15px 15px;
margin-top: 0;
padding:25px 25px;
background-color: #E5E5E5;
margin: 50px 10px;
box-shadow: 0 2px 5px rgb(130, 129, 129)
}
h1 {
    font-size: 25px;
    text-transform: uppercase;
    color: rgb(214, 140, 151);
    justify-content: center;
    
}
h2 {
    font-size: 20px;
    margin-top: 40px;
    color: rgb(62, 161, 128);
}
p {
    margin-left: 15px;
    margin-right: 15px;
}

button {
    background-color: rgb(214, 140, 151);
    color: #fff;
    border: none;
    border-radius: 5px;
}
.btn {
    display: inline-block;
    font-size: 20px;
    cursor:  pointer;
    letter-spacing: 2px;
    padding: 7px;
    border-radius: 10px;
    margin-top: 25px;
}
.giftsBtn {
    background-color: rgb(214, 140, 151);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor:  pointer;
    letter-spacing: 2px;
    padding: 7px;
    margin-top: 25px;
    }
    
.clothes {
    flex-wrap: wrap;
    border-radius: 15px 15px 15px 15px;
    margin-top: 0;
    padding:25px 25px;
    background-color: #E5E5E5;
    margin: 50px 10px;
    box-shadow: 0 2px 5px rgb(130, 129, 129);
}
@media all and(max-width: 800px){
    body {
        
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        }

    h1 {
        font-size: 20px;
        }
        h2 {
        font-size: 15px;
        
        }
    .caption {
        font-size: 20px;
        margin-left: 15px;
    }
    .giftsImage {
        width: 200px;
        height: 200px;
        }
        .image {
            width: 300px;
        }
    
    }
@media all and(max-width: 500px){
    body {
        
        height: 100vh;
        width: 80vw;
        }

    .container {
        width: 200px;
        
    }
    
    h1 {
    font-size: 15px;
    }
    h2 {
    font-size: 13px;
    
    }
    .image {
        width: 200px;
    }
    .giftsImage {
    width: 100px;
    height: 100px;
    }
    .giftsBtn {
    font-size: 15px;
    padding: 5px;
    margin-top: 20px;
    }
    .picture {
        width: 120px;
    }
    
}
@media all and(max-width: 270px){
    body {
        
        height: 80vh;
        width: 60vw;
        }
    .container {
        width: 80px;
        height: 150px;
    }
    h1 {
        font-size: 15px;
        }
        h2 {
        font-size: 12px;
        
        }
        .giftsImage {
            width: 150px;
            }
            .giftsBtn {
            font-size: 12px;
            padding: 3px;
            margin-top: 10px;
            }
}
    
