
.container {
 display: flex;
 justify-content: center;
 background-color: #f7f7f8;

}
h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(62, 161, 128);
}
h2 {
    font-size: 25px;
    margin-top: 40px;
    color: rgb(62, 161, 128);

}

button {
    background-color: rgb(214, 140, 151);
    color: #fff;
    border: none;
    border-radius: 5px;
}
.btn {
    display: inline-block;
    font-size: 20px;
    cursor:  pointer;
    letter-spacing: 2px;
    padding: 7px;
    border-radius: 10px;
    margin-top: 25px;
}